/* style.css */
html {
  scroll-behavior: smooth;
}
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

.grid-container {
    display: grid;
    /* grid-template-columns: 1fr 1fr; 2 columns */
    grid-template-columns: 1fr;
    grid-gap: 30px; /* Space between items */
    padding: 40px;
}

.grid-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#view6 canvas {
    width: 70% !important;
    height: auto !important;
  }

#view6 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
  }

/* MODAL OVERLAY */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
    justify-content: center;
    align-items: center;
  }
  
  /* MODAL CONTENT */
  .modal-content {
    background: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    position: relative;
  }
  
  /* CLOSE BUTTON */
  .modal-close {
    position: absolute;
    top: 40px;
    right: 16px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
  }
  

  .oswald-heading {
    font-family: 'Oswald', sans-serif;
    color: rgb(6, 0, 0);
    font-size: 4vw;
    font-weight: 300;
    text-transform: uppercase;
  }
  
  .gradient-bar {
    height: 10px;
    background: linear-gradient(141deg, cyan 0%, rebeccapurple 40%, deeppink 90%);
  }
  
  /* .oswald-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    background: #ffffff;
  } */


  .oswald-heading-container {
    /* position: relative; */
    /* max-width: 100%; */
    height: 70vh; 
    text-align: center;
    padding: 20px;
  }
  
  .skyline-wrapper {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
  }
  
  .skyline-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
  
  .fade-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    pointer-events: none;
  }
  
  